{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Genres</h3>

<!-- Display existing genres -->
<div class="row">
    <div class="col s12 center-align">
        <h5>Available Genres</h5>
        <ul>
            {% for genre in genres %}
                <li>{{ genre.genre_name }}</li>
            {% else %}
                <li>No genres available. Please add a genre.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Button to navigate to the page where new genres can be added -->
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_genre') }}" class="btn-large light-blue darken-2">
            Add Genre <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

{% endblock %}
